<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<title>CursosApp | Aplicación de gestión de usuarios</title>
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<!-- Custom styles for this template -->
<link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
<link th:href="@{/bootstrap/css/sticky-footer-navbar.css}"
	rel="stylesheet">
</head>
<body>
	<header th:insert="fragments/menu :: menu-principal"></header>
	<br>
	<br>
	<div class="container">
		<h2 th:text="${titulo}"
			class="text-secondary border border-success border-top-0 border-left-0 border-right-0"></h2>
		<form th:action="@{/criticas/criticar/{idPelicula}}" method="post"
			th:object="${critica}">
			<div th:if="${#fields.hasErrors('*')}" class='alert alert-danger'
				role='alert'>
				Por favor corrija los siguientes errores:
				<ul>
					<li th:each="err : ${#fields.errors('*')}" th:text="${err}" />
				</ul>
			</div>
			<br>
			<div class="row">
				<div class="col-md-3">
					<label for="valoracion" class="form-label">Valoración</label> <input
						type="text" class="form-control" th:field="*{valoracion}" id="nombre"
						name="titulo" placeholder="Escriba la valoracion"
						required="required">
				</div>
				<div class="col-md-3">
					<label for="nota" class="form-label">Nota</label> <input
						type="number" class="form-control" th:field="*{nota}" id="nota"
						name="nota" min="0" max="10"
						placeholder="Escriba la nota de la critica" required="required">
				</div>
				
				<!-- <div class="col-md-3">
					<label for="idPelicula" class="form-label">idPelicula</label> <input
						type="number" class="form-control" th:field="*{idPelicula}" id="idPelicula"
						name="idPelicula" min="0" max="10"
						placeholder="Escriba la nota de la critica" required="required">
				</div> -->
<!-- 				<div class="col-md-3"> -->
<!-- 					<label for="fecha" class="form-label">Fecha de la crítica</label> <input -->
<!-- 						type="text" class="form-control" th:field="*{fecha}" id="fecha" -->
<!-- 						name="fecha" -->
<!-- 						placeholder="Escriba la fecha de la critica yyyy-MM-dd" -->
<!-- 						required="required"> -->
<!-- 					<p th:if="${#fields.hasErrors('*')}" class='alert alert-danger' -->
<!-- 						role='alert'>Fecha incorrecta, el formato debe ser yyyy/MM/dd -->
<!-- 					</p> -->


<!-- 				</div> -->
				
				
			</div>
			<br>
<!-- 			<div class="row"> -->
<!-- 				<div class="col-md-3"> -->
<!-- 					<label for="usuario" class="form-label">Usuario</label> <input -->
<!-- 						type="text" class="form-control" th:field="*{usuario.nombre}" id="usuario" -->
<!-- 						name="usuario" placeholder="Escriba el usuario" -->
<!-- 						required="required"> -->
<!-- 				</div> -->


<!-- 			</div> -->
			<br><input type="hidden" th:field="*{idPelicula}" /> 
			<button type="submit" class="btn btn-dark">Guardar</button>
 			
		</form>
		<hr>
		<a class="btn btn-primary" role="button"
			th:href="@{/criticas/homeCriticas}">Ir a Inicio</a>
	</div>

	<footer th:insert="fragments/footer :: pie-pagina" class="footer"></footer>
	<!-- Bootstrap core JavaScript
================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>