<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>CursosApp | Aplicación de gestión de criticas</title>
      <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
</head>
<body>
<header th:insert="fragments/menu :: menu-principal"></header>
<div class="container">

    <div class="card">
        <h2 th:text="${titulo}" class="card-header"></h2>
        <div class="card-body">
            <div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" role='alert'></div>
            <table class="table table-hover">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Identificador</th>
                    <th scope="col">Id de la pelicula</th>
                    <th scope="col">Valoracion</th>
                    <th scope="col">Nota</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Usuario</th>
                  
                   <th sec:authorize="hasRole('ROLE_ADMIN')" scope="col">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="critica : ${listadoCriticas}">
                    <td th:text="${critica.idCritica}"></td>
                    <td th:text="${critica.idPelicula}"></td>
                    <td th:text="${critica.valoracion}"></td>
                    <td th:text="${critica.nota}"></td>
                    <td th:text="${critica.fecha}"></td> 
                    <td th:text="${critica.usuario.nombre}"></td>             
                 
                  
                    <td>
                        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/criticas/borrar/{id}  (id=${critica.idCritica})  }" th:text="'borrar'" onclick="return confirm('¿Estas seguro?')" class="btn btn-danger btn-sm" role="button" title="Eliminar la critica"><i class="fas fa-trash" aria-hidden="true"></i></a>
                    </td>
                </tr>

                </tbody>
            </table>

            <nav th:replace="paginator-nav :: paginator"></nav>

        </div>
    </div>
    <hr>
    <a class="btn btn-primary" role="button" th:href="@{/criticas/homeCriticas}">Ir a Inicio</a>
</div> <!-- /container -->

 <footer th:insert="fragments/footer :: pie-pagina" class="footer"></footer>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>