<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>CursosApp | Aplicación de gestión de peliculas</title>
       <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
</head>
<body>
<header th:insert="fragments/menu :: menu-principal"></header>

<div class="container">
    <h2 class="text-secondary border border-success border-top-0 border-left-0 border-right-0">Búsqueda de criticas</h2>
    <form th:action="@{/criticas/1}" method="get">
        <div class="mb-3">
            <label for="idPelicula" class="form-label">Identificador de pelicula</label>
            <input type="number" class="form-control" id="idPelicula" name="idPelicula" required="required"
                   placeholder="Escriba el identificador de la pelicula">
        </div>
        <input type="hidden" id="idPelicula" />
        <button type="submit" class="btn btn-primary">Buscar por Pelicula</button>

    </form>
  

    <hr>
    <a class="btn btn-primary" role="button" th:href="@{/criticas/homeCriticas}">Ir a Inicio</a>
</div>
<footer th:insert="fragments/footer :: pie-pagina" class="footer"></footer>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>