<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="favicon.ico">

<title>EmpleosApp | Aplicación para publicar Ofertas de Trabajo.</title>
<!-- Bootstrap core CSS -->
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<!-- Custom styles for this template -->
<link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
<link th:href="@{/bootstrap/css/sticky-footer-navbar.css}"
	rel="stylesheet">
</head>

<body>

	<header th:insert="fragments/menu :: menu-principal"></header>



	<main role="main">

		<div class="container">
			<h2 class="font-weight-bold text-center text-capitalize">DESTACADOS</h2>
			<hr>
			<div class="row" th:each="pelicula: ${listadoPeliculas}">
<!-- 				<div class="col-md-3"> -->
<!-- 					<img th:if="${#strings.length(pelicula.imagen) > 0}" -->
<!-- 						class="img-thumbnail rounded float-left" style="max-width: 100%;" -->
<!-- 						th:src="@{'/peliculas/uploads/' + ${pelicula.imagen}}" -->
<!-- 						th:alt="${pelicula.imagen}" /> -->
<!-- 				</div> -->
				<div class="col-md-9">
					<h2 th:text="${pelicula.titulo}"></h2>
					<h6 class="card-title">
						<strong>Genero: </strong> <span th:text="${pelicula.genero}"></span>
					</h6>
					<h6 class="card-title">
						<strong>Publicado: </strong> <span th:text="${pelicula.anyo}"></span>
					</h6>
					<p th:text="${pelicula.sinopsis}"></p>
					<!--             <p><a class="btn btn-secondary" th:href="@{/peliculas/view/{id} (id=${pelicula.idPelicula})}" role="button">Detalles &raquo;</a></p>             -->
				</div>
			</div>
	</main>

	<footer th:insert="fragments/footer :: pie-pagina" class="footer"></footer>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
