<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>CursosApp | Aplicación de gestión de cursos</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div class="container px-5 py-5">
    <div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" role='alert'></div>

    <h2 class="text-center">Gestión de peliculas</h2>

    <hr>
    <div class="card-group">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Inicio de sesión</h3>
                <form th:action="@{/login}" method="post">
                    <div class="form-group">
                        <input type="text" name="username" id="username"
                               class="form-control" th:placeholder="Correo" autofocus required/>
                    </div>

                    <div class="form-group">
                        <input type="password" name="password" id="password"
                               class="form-control" th:placeholder="Contraseña" required/>
                    </div>

                    <input type="submit" class="btn btn-lg btn-primary btn-block"
                           th:value="Login"/>

                </form>
            </div>
        </div>
		 <div class="card">
            <div class="card-body">
                <h3 class="card-title">Registro nuevo usuario</h3>
                <a class="btn btn-primary" role="button" th:href="@{usuarios/signup}">Registrarse</a>
            </div>
        </div>
        
    </div>
  
</div>

<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>