<div th:fragment="pie-pagina" class="container">
	<p>
		&copy; 2021 PeliculasApp, Inc. | WebApp Desarrollada con Spring Boot 
		2.4.2 y microservicios| Autor: Francisco Jos&eacute; Au&ntilde;&oacuten Marcos | &middot; <a
			href="#">Privacy</a> &middot; <a href="#">Terms</a>
	</p>
</div>