<nav th:fragment="menu-principal"
	class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	<a class="navbar-brand" th:href="@{/}">PeliculasApp</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarsExampleDefault"
		aria-controls="navbarsExampleDefault" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_USER')">
				<a class="nav-link"	th:href="@{/peliculas/homePeliculas}">Peliculas</a>
			</li>
			<li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
				<a class="nav-link"	th:href="@{/actores/homeActores}">Actores</a>
			</li>
			<li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
				<a class="nav-link"	th:href="@{/usuarios/homeUsuarios}">Usuarios</a>
			</li>
			<li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_USER')">
				<a class="nav-link"	th:href="@{/criticas/homeCriticas}">Criticas</a>
			</li>
		</ul>
<!-- 		   <a class="btn btn-primary" th:href="@{/login}">Ingresar</a>&nbsp; -->
<!--     	   <a class="btn btn-primary" th:href="@{usuarios/signup}">Registrarse</a>&nbsp; -->
   		   <a class="btn btn-primary" th:href="@{/logout}">Salir</a>&nbsp;
	</div>
</nav>