<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<title>CursosApp | Aplicación de gestión de usuarios</title>
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<!-- Custom styles for this template -->
<link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
<link th:href="@{/bootstrap/css/sticky-footer-navbar.css}"
	rel="stylesheet">
</head>
<body>
	<header th:insert="fragments/menu :: menu-principal"></header>
	<br>
	<br>
	<div class="container">
		<h2 th:text="${titulo}"
			class="text-secondary border border-success border-top-0 border-left-0 border-right-0"></h2>
		<form th:action="@{/usuarios/guardar/}" method="post"
			th:object="${usuario}">
			<div th:if="${#fields.hasErrors('*')}" class='alert alert-danger'
				role='alert'>
				Por favor corrija los siguientes errores:
				<ul>
					<li th:each="err : ${#fields.errors('*')}" th:text="${err}" />
				</ul>
			</div>
			<br>
			<div class="row">
				<div class="col-md-3">
					<label for="nombre" class="form-label">Nombre</label> <input
						type="text" class="form-control" th:field="*{nombre}" id="nombre"
						name="titulo" placeholder="Escriba el nombre del usuario"
						required="required">
				</div>
				<div class="col-md-3">
					<label for="clave" class="form-label">Clave</label> <input
						type="text" class="form-control" th:field="*{clave}"
						id="clave" name="clave" min="50" max="240"
						placeholder="Escriba la clave del usuario"
						required="required">
				</div>
				<div class="col-md-3">
					<label for="correo" class="form-label">Correo</label> <input
						type="email" class="form-control" th:field="*{correo}" id="correo"
						name="correo" placeholder="Escriba el correo del usuario"
						required="required">
				</div>
			</div>
			<br>

			 <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="option1" name="option1" class="custom-control-input" value="1" th:field="*{enable}">
                <label class="custom-control-label" for="option1">Habilitado</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="option2" name="option2" class="custom-control-input" value="0" th:field="*{enable}">
                <label class="custom-control-label" for="option2">Deshabilitado</label>
            </div>
			
			
			
			<button type="submit" class="btn btn-dark">Guardar</button>
			<input type="hidden" th:field="*{idUsuario}" />
		</form>
		<hr>
		<a class="btn btn-primary" role="button" th:href="@{/usuarios/homeUsuarios}">Ir
			a Inicio</a>
	</div>

	<footer th:insert="fragments/footer :: pie-pagina" class="footer"></footer>
	<!-- Bootstrap core JavaScript
================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>