<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>CursosApp | Aplicación de gestión de usuarios</title>
      <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
</head>
<body>
<header th:insert="fragments/menu :: menu-principal"></header>
<div class="container">

    <div class="card">
        <h2 th:text="${titulo}" class="card-header"></h2>
        <div class="card-body">
            <div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" role='alert'></div>
            <table class="table table-hover">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Identificador</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Clave</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Activo</th>
                  
                   <th scope="col">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="usuario : ${listadoUsuarios}">
                    <td th:text="${usuario.idUsuario}"></td>
                    <td th:text="${usuario.nombre}"></td>
                    <td th:text="${usuario.clave}"></td>
                    <td th:text="${usuario.correo}"></td>
                    <td th:text="${usuario.enable}"></td>          
                 
                  
                    <td>
                        <a th:href="@{/usuarios/editar/{id}  (id=${usuario.idUsuario})  }" th:text="'editar'" class="btn btn-success btn-sm" role="button" title="Editar el usuario"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
                        <a th:href="@{/usuarios/borrar/{id}  (id=${usuario.idUsuario})  }" th:text="'borrar'" onclick="return confirm('¿Estas seguro?')" class="btn btn-danger btn-sm" role="button" title="Eliminar el usuario"><i class="fas fa-trash" aria-hidden="true"></i></a>
                    </td>
                </tr>

                </tbody>
            </table>

            <nav th:replace="paginator-nav :: paginator"></nav>

        </div>
    </div>
    <hr>
    <a class="btn btn-primary" role="button" th:href="@{/usuarios/homeUsuarios}">Ir a Inicio</a>
</div> <!-- /container -->

 <footer th:insert="fragments/footer :: pie-pagina" class="footer"></footer>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>