<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>CursosApp | Aplicación de gestión de peliculas</title>
       <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
</head>
<body>
<header th:insert="fragments/menu :: menu-principal"></header>

<div class="container">
    <h2 class="text-secondary border border-success border-top-0 border-left-0 border-right-0">Búsqueda de Usuarios</h2>
    <form th:action="@{/usuarios/nombre}" method="get">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" required="required"
                   placeholder="Escriba el nombre del usuario">
        </div>
        <button type="submit" class="btn btn-primary">Buscar por Nombre</button>
    </form>
    <hr>
  
    <hr>
    <form th:action="@{/usuarios/correo}" method="get">
        <div class="mb-3">
            <label for="correo" class="form-label">Correo de usuario</label>
            <input type="text" class="form-control" id="correo" name="correo" required="required"
                   placeholder="Escriba el correo del usuario">
        </div>
        <button type="submit" class="btn btn-primary">Buscar por Correo</button>
    </form>

    <hr>
    <a class="btn btn-primary" role="button" th:href="@{/usuarios/homeUsuarios}">Ir a Inicio</a>
</div>
<footer th:insert="fragments/footer :: pie-pagina" class="footer"></footer>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>