<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>EmpleosApp | Detalles de la Critica</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
  </head>

  <body>

     <header th:insert="fragments/menu :: menu-principal"></header>

    <main role="main">
      <hr>
      <div class="container"> 

        <div class="row">
          <div class="col-md-3">            
            <img class="rounded mx-auto d-block" th:src="@{/images/{img} (img=${critica.imagen})}" alt="Generic placeholder image" width="220" height="220">            
          </div>
          <div class="col-md-9">
            <div class="card">
              <h4 class="card-header"><strong th:text="${critica.titulo}"></strong></h4>              
              <div class="card-body">
                <h6 class="card-title"><strong>Identificador: </strong> <span th:text="${critica.idCritica}"></span></h6>  
                <h6 class="card-title"><strong>Id de la critica: </strong><span th:text="${critica.idPelicula}"></span></h6>
                <h6 class="card-title"><strong>Valoracion: </strong> <span th:text="${critica.valoracion}"></span></h6>                 
                <h6 class="card-title"><strong>Nota: </strong> <span th:text="${critica.nota}"></span></h6>       
                <h6 class="card-title"><strong>Fecha: </strong> <span th:text="${critica.fecha}"></span></h6>
                <h6 class="card-title"><strong>usuario: </strong> <span th:text="${critica.usuario.nombre}"></span></h6>           
               
                
                <div class="card bg-light mb-3" >
                  <div class="card-body">
                    <h5 class="card-title">Detalles de la critica</h5>
                    <p class="card-text">.</p>
                  </div>
                </div>   
                <a class="btn btn-primary" href="#" role="button" title="Quiero aplicar para esta oferta de trabajo."><i class="fas fa-file" aria-hidden="true"></i> Aplicar</a>                            
              </div>
            </div>  
          </div>
        </div>

      </div>
    </main>

      <footer th:insert="fragments/footer :: pie-pagina" class="footer"></footer>
      
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
  </body>
</html>
