<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>EmpleosApp | Creación de Categorías</title>
    <!-- Bootstrap core CSS -->
     <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
  </head>

  <body>

     <header th:insert="fragments/menu :: menu-principal"></header>

    <main role="main">     
      <hr>
<div class="container">
    <h2 th:text="${titulo}"
        class="text-secondary border border-success border-top-0 border-left-0 border-right-0"></h2>
    <form th:action="@{/actores/guardar/}" method="post" th:object="${actor}">
        
        <div class="mb-3">
            <label for="titulo" class="form-label">Nombre</label>
            <input type="text" class="form-control" th:field="*{nombre}" id="nombre" name="nombre"
                   placeholder="Escriba el nombre del actor" required="required">
        </div>
       
        <div class="mb-3">
            <label for="pais" class="form-label">Pais</label>
            <input type="text" class="form-control" th:field="*{pais}" id="pais" name="pais"
                   placeholder="Escriba el pais del actor" required="required">
        </div>
        <div class="mb-3">
            <label for="fecha" class="form-label">Fecha nacimiento</label>
            <input type="text" class="form-control" th:field="*{fecha}" id="fecha" name="fecha"
                   placeholder="Escriba la fecha de nacimiento yyyy-MM-dd" required="required">
                    <p th:if="${#fields.hasErrors('*')}" class='alert alert-danger' role='alert'>Fecha incorrecta, el formato debe ser yyyy/MM/dd </p>
       
                   
        </div>
        <button type="submit" class="btn btn-dark">Guardar</button>
        <input type="hidden" th:field="*{idActor}" />
    </form>
    <hr>
    <a class="btn btn-primary" role="button" th:href="@{/actores/homeActores}">Ir a Inicio</a>
</div>

  </main>

       <footer th:insert="fragments/footer :: pie-pagina" class="footer"></footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>