<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="favicon.ico">

<title>EmpleosApp | Detalles de la Pelicula</title>
<!-- Bootstrap core CSS -->
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<!-- Custom styles for this template -->
<link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
<link th:href="@{/bootstrap/css/sticky-footer-navbar.css}"
	rel="stylesheet">
</head>

<body>

	<header th:insert="fragments/menu :: menu-principal"></header>

	<main role="main">
		<hr>
		<div class="container">

			<div class="row">
		
				<img th:if="${#strings.length(pelicula.imagen) > 0}"
					class="img-thumbnail rounded float-left" style="max-width: 25%;"
					th:src="@{'/peliculas/uploads/' + ${pelicula.imagen}}"
					th:alt="${pelicula.imagen}" />
				<div class="col-md-9">
					<div class="card">
						<h4 class="card-header">
							<strong th:text="${pelicula.titulo}"></strong>
						</h4>
						<div class="card-body">
							<h6 class="card-title">
								<strong>Año: </strong> <span th:text="${pelicula.anyo}"></span>
							</h6>
							<h6 class="card-title">
								<strong>Duracion: </strong><span th:text="${pelicula.duracion}"></span>
							</h6>
							<h6 class="card-title">
								<strong>Pais: </strong> <span th:text="${pelicula.pais}"></span>
							</h6>
							<h6 class="card-title">
								<strong>Direccion: </strong> <span th:text="${pelicula.anyo}"></span>
							</h6>
							<h6 class="card-title">
								<strong>Genero: </strong> <span th:text="${pelicula.genero}"></span>
							</h6>
							<h6 class="card-title">
								<strong>Sinopsis: </strong> <span th:text="${pelicula.sinopsis}"></span>
							</h6>
							<h6 class="card-title">
								<strong>Nota media: </strong> <span th:text="${pelicula.notaMedia}"></span>
							</h6>

							<table>
								<thead>
									<tr>
										<th>Actores</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="actor : ${pelicula.actores}">
										<td th:text="${actor.nombre}"></td>

									</tr>
								</tbody>
							</table>

						</div>

						<a class="btn btn-primary" role="button"
							th:href="@{/criticas/{id} (id=${pelicula.idPelicula})}">Ver
							criticas</a> <br> <a class="btn btn-primary" role="button"
							th:href="@{/}">Ir a Inicio</a>

					</div>
				</div>

			</div>
	</main>

	<footer th:insert="fragments/footer :: pie-pagina" class="footer"></footer>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
