<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<title>CursosApp | Aplicación de gestión de peliculas</title>
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<!-- Custom styles for this template -->
<link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
<link th:href="@{/bootstrap/css/sticky-footer-navbar.css}"
	rel="stylesheet">
</head>
<body>
	<header th:insert="fragments/menu :: menu-principal"></header>
	<br>
	<br>
	<div class="container">
		<h2 th:text="${titulo}"
			class="text-secondary border border-success border-top-0 border-left-0 border-right-0"></h2>
		<form th:action="@{/peliculas/guardar/}" method="post"
			th:object="${pelicula}" enctype="multipart/form-data">
			<div th:if="${#fields.hasErrors('*')}" class='alert alert-danger'
				role='alert'>
				Por favor corrija los siguientes errores:
				<ul>
					<li th:each="err : ${#fields.errors('*')}" th:text="${err}" />
				</ul>
			</div>
			<br>
			<div class="row">
				<div class="col-md-3">
					<label for="titulo" class="form-label">Titulo</label> <input
						type="text" class="form-control" th:field="*{titulo}" id="titulo"
						name="titulo" placeholder="Escriba el titulo de la pelicula"
						required="required">
				</div>
				<div class="col-md-3">
					<label for="duracion" class="form-label">Duración</label> <input
						type="number" class="form-control" th:field="*{duracion}"
						id="duracion" name="duracion" min="50" max="240"
						placeholder="Escriba la duración de la pelicula en horas"
						required="required">
				</div>
				<div class="col-md-3">
					<label for="pais" class="form-label">Pais</label> <input
						type="text" class="form-control" th:field="*{pais}" id="pais"
						name="pais" placeholder="Escriba el pais de la pelicula"
						required="required">
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-3">
					<label for="direccion" class="form-label">Direccion</label> <input
						type="text" class="form-control" th:field="*{direccion}"
						id="direccion" name="direccion"
						placeholder="Escriba la direccion de la  pelicula"
						required="required">
				</div>

				<div class="col-md-3">
					<label for="anyo" class="form-label">Año</label> <input
						type="number" class="form-control" th:field="*{anyo}" id="anyo"
						name="anyo" min="1900" max="2100"
						placeholder="Escriba el año de la pelicula" required="required">
				</div>

		
				<img
					th:if="${pelicula.imagen != null && #strings.length(pelicula.imagen) > 0}"
					class="img-thumbnail rounded float-left" style="max-width: 25%;"
					th:src="@{'/peliculas/uploads/' + ${pelicula.imagen}}"
					th:alt="${pelicula.imagen}" />

				<div class="mb-3">
					<label for="file" class="col-sm-2 col-form-label">Imagen</label>
					<div class="col-sm-6">
						<input type="file" id="file" name="file" class="form-control" />
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-9">
					<label for="sinopsis" class="form-label">Sinopsis</label> <input
						type="text" class="form-control" th:field="*{sinopsis}"
						id="sinopsis" name="sinopsis"
						placeholder="Escriba la sinopsis de la  pelicula"
						required="required">
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-3">
					<label for="genero" class="form-label">Genero</label> <select
						class="form-select" th:field="*{genero}" name="genero" id="genero">

						<option th:value="Drama">DRAMA</option>
						<option th:value="Oeste">OESTE</option>
						<option th:value="Suspense">SUSPENSE</option>
						<option th:value="Terror">TERROR</option>
						<option th:value="Policiaca">POLICIACA</option>
						<option th:value="Comedia">COMEDIA</option>
					</select>
				</div>
				<div class="col-md-3">
					<label for="actores">Actores</label> <select class="form-select"
						size="2" aria-label="size 2 select example" id="actores"
						th:field="*{actores}" multiple="multiple">
						<option th:each="actor: ${listaActores}" th:text="${actor.nombre}"
							th:value="${actor.idActor}"></option>
					</select>

				</div>
			</div>
			<br>
			<button type="submit" class="btn btn-dark">Guardar</button>
			<input type="hidden" th:field="*{idPelicula}" />
		</form>
		<hr>
		<a class="btn btn-primary" role="button"
			th:href="@{/peliculas/homePeliculas}">Ir a Inicio</a>
	</div>

	<footer th:insert="fragments/footer :: pie-pagina" class="footer"></footer>
	<!-- Bootstrap core JavaScript
================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>