<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>CursosApp | Aplicación de gestión de cursos</title>
      <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
</head>
<body>
<header th:insert="fragments/menu :: menu-principal"></header>
<div class="container">

    <div class="card">
        <h2 th:text="${titulo}" class="card-header"></h2>
        <div class="card-body">
            <div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" role='alert'></div>
            <table class="table table-hover">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Identificador</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Año</th>
                    <th scope="col">Duración</th>
                    <th scope="col">Pais</th>
                    <th scope="col">Genero</th>
                    <th scope="col">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="pelicula : ${listadoPeliculas}">
                    <td th:text="${pelicula.idPelicula}"></td>
                    <td th:text="${pelicula.titulo}"></td>
                    <td th:text="${pelicula.anyo}"></td>
                    <td th:text="${pelicula.duracion}"></td>
                    <td th:text="${pelicula.pais}"></td>          
                    <td th:text="${pelicula.genero}"></td>
                  
                    <td>
                        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/peliculas/editar/{id}  (id=${pelicula.idPelicula})  }" th:text="'editar'" class="btn btn-success btn-sm" role="button" title="Editar la pelicula."><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
                        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/peliculas/borrar/{id}  (id=${pelicula.idPelicula})  }" th:text="'borrar'" onclick="return confirm('¿Estas seguro?')" class="btn btn-danger btn-sm" role="button" title="Eliminar la pelicula."><i class="fas fa-trash" aria-hidden="true"></i></a>
                        <a th:href="@{/peliculas/view/{id} (id=${pelicula.idPelicula})}" th:text="'Detalles'"  class="btn btn-success btn-sm" role="button" title="Ver detalles"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
                        <a sec:authorize="hasRole('ROLE_USER')" th:href="@{/criticas/nuevo/{id}  (id=${pelicula.idPelicula}) }" th:text="'Hacer critica'" class="btn btn-info btn-sm" role="button" title="Criticar el curso."><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
                    </td> 
                
                </tr>

                </tbody>
            </table>

            <nav th:replace="paginator-nav :: paginator"></nav>

        </div>
    </div>
    <hr>
    <a class="btn btn-primary" role="button" th:href="@{/peliculas/homePeliculas}">Ir a Inicio</a>
</div> <!-- /container -->

 <footer th:insert="fragments/footer :: pie-pagina" class="footer"></footer>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>