<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>CursosApp | Aplicación de gestión de peliculas</title>
       <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
</head>
<body>
<header th:insert="fragments/menu :: menu-principal"></header>

<div class="container">
    <h2 class="text-secondary border border-success border-top-0 border-left-0 border-right-0">Búsqueda de Peliculas</h2>
    <form th:action="@{/peliculas/titulo}" method="get">
        <div class="mb-3">
            <label for="nombre" class="form-label">Titulo</label>
            <input type="text" class="form-control" id="titulo" name="titulo" required="required"
                   placeholder="Escriba el titulo de la pelicula">
        </div>
        <button type="submit" class="btn btn-primary">Buscar por Titulo</button>
    </form>
    <hr>
    <form th:action="@{/peliculas/genero}" method="get">
        <div class="mb-3">
            <select class="form-select" name="genero" id="genero">
                <!--                 <option selected>Seleccionar categoría</option> -->
                 <option th:value="Drama">Drama</option>
                <option th:value="Oeste">Oeste</option>
                <option th:value="Suspense">Suspense</option>
                <option th:value="Terror">Terror</option>
                <option th:value="Policiaca">Policiaca</option>
                <option th:value="Comedia">Comedia</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Buscar por Genero</button>
    </form>
    <hr>
    <form th:action="@{/peliculas/actor}" method="get">
        <div class="mb-3">
            <label for="actor" class="form-label">Nombre del actor</label>
            <input type="text" class="form-control" id="actor" name="actor" required="required"
                   placeholder="Escriba el nombre del actor">
        </div>
        <button type="submit" class="btn btn-primary">Buscar por Actor</button>
    </form>

    <hr>
    <a class="btn btn-primary" role="button" th:href="@{/peliculas/homePeliculas}">Ir a Inicio</a>
</div>
<footer th:insert="fragments/footer :: pie-pagina" class="footer"></footer>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>